.nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: grey;
    height: 5%;
}

.nav-item{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}